/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');





/* POLICES */

body {
  font-family: 'Montserrat', sans-serif;
}

h1 , h2 , h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

}
/* PADDING ET MARGINS  */


/* Boutons  */

.button-yellow {
  background-color: #F7DB08;
}

/* FOOTER  */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;;
}