/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');





/* POLICES */

body {
  font-family: 'Poppins', sans-serif;
}

h1 , h2 , h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

a {
    text-decoration: none;

}
/* PADDING ET MARGINS  */


/* Boutons  */

.button-yellow {
  background-color: #F7DB08;
}

/* FOOTER  */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;;
}


/* BANNER SECTION */

.banner {
  background: url(images/banner-association-un-jouet-pour-tous.jpg) center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  background-color: rgba(17, 17, 17, 0.356);
  color: white;
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}

.banner-heading h1 {
  color: green;
}

/* CONTACT FORMS  */

.form {
    -webkit-box-shadow: 5px 5px 15px -7px #000000; 
    box-shadow: 5px 5px 15px -7px #000000;
}